@import url("../fonts/geist/style.css");
@import url("../fonts/Vegawanty/style.css");



body{
  background-color: rgb(39, 40, 34);
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  /* overflow: hidden; */
  /* height: 200vh; */
}
  
.website-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c9e41;
  color: white;
  padding: 10px 20px;
}

.website-header .logo {
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 0.3s;
}

.navigation ul li a:hover {
  color: #00bcd4;
}

.line1 {
  margin-left: 40px;
  margin-top: 80px;
  font-size: 20px;
}
.line2 {
  /* margin-top: 10px; */
  margin-left: 40px;
  font-size: 60px;
  color: #22c55e;
  font-weight: bold;
}
.line3 , .line4, .line5, .line6{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40px;
  
}

.FAQS {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
}

.faq-container {
  border: 2px solid #22c55e;
  border-radius: 10px;
  padding: 20px;
  background-color: #1e1e1e;
}

.FAQS{
  margin-top: 12rem;
}

.FAQ {
  border-bottom: 1px solid #22c55e;
  padding: 10px 0;
}

.FAQ:last-child {
  border-bottom: none;
}

.question {
  font-size: 18px;
  font-weight: bold;
  color: #22c55e;
  cursor: pointer;
  transition: color 0.3s;
}

.question:hover {
  color: #0c9e41;
}

.answer {
  font-size: 16px;
  color: #ddd;
  margin-top: 5px;
  display: none;
}

.ALL{
  overflow: auto;
}

.Main{
  position: relative;
  overflow: auto;
}

.container {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 600px;
  margin-top: 5rem;
  /* height: 50vh; */
  margin-right: 40px;
  background: #444942;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


th {
  background-color: #0c9e41;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f125;
  transition: 0.3s;
}

@media (max-width: 600px) {
  table {
      font-size: 14px;
  }
}

td a {
  text-decoration: none;
  color: aliceblue;
  display: flex;
  align-items: center;
}

td img {
  vertical-align: middle;
  margin-right: 8px;
}


.Contact-us {
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 35rem;
  background-color: #1e1e1e;  
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  text-align: center;
}

h2 {
  color: #22c55e;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #222;
  border: 1px solid #22c55e;
  border-radius: 5px;
  color: white;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  background-color: #00ff00;
  color: black;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ff00;
}

#responseMessage {
  margin-top: 10px;
  font-size: 14px;
  color: lightgreen;
}

/* h2 {
  background: linear-gradient(to right, #00c853, #b2ff59);
  font-size: 28px;
  font-weight: bold;
  } */
  
.gradient-box {
    font-weight: bold;
    background: linear-gradient(90deg, #ff5733, #ffc300, #4caf50, #2196f3, #9c27b0, #ff5733,  #ffc300);
    background-size: 600% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 8s linear infinite;
    transition: all ease;
}

@keyframes gradientScroll {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}